<ul class="nav" id="navigation">
  <li class="nav-item">
    <a class="nav-link" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#/books">Books</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/books/add">Add a Book</a>
  </li>
  
</ul>