{{#if books}}
    <h1>Books</h1>
    {{#each books}}
        <div class="card card-body">
            <h3>{{title}}</h3>
            <p>Author: {{author}}</p>
            <p>ISBN: {{isbn}}</p>
        </div>
    {{/each}}
{{/if}}